/.idea
/.vs
/.vscode
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj.DotSettings
/Tests.csproj
/Library
/Logs
/obj
/BasicFramework.sln
/BasicFramework.sln.DotSettings.user
/Temp